*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

.encabezado{
    width: 100%;
    height: 90px;
    background-color: #FFAD62;
    display: flex;
}
.encabezado .logo{
    width: 25%;
   height: 80%;
  margin-top:0.5%;
}
.encabezado img{
    width: 90%;
    height: 90%;
    margin-left: 5%;
}

.nombre{
    display:flex;
    justify-content:center;
    align-items:center;
}
.user-logo{
    width: 20%;
    height:70%;
    border-radius:50%;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
  margin: auto;
}
.encabezado  .informacion{
    width: 35%;
    height: 100%;
    display: flex;
    margin-left: 45%;
    margin-right: 3%;
}
.informacion .nombre, .cerrar{
    width: 30%;
    height: 70%;
    margin: auto;
}
.portada-usuarios{
    width: 100%;
    height: 250px;
}
.portada-usuarios img{
    width: 100%;
    height: 100%;
}
.contenido{
    width: 100%;
    height: 300px;

}

.primer-contenido{
    width: 70%;
    height: 40%;
    margin: auto;

    display: flex;
}
.primer-contenido div{
    width: 20%;
    height: 70%;
    margin: auto;
    background-color: #D9D9D9;
    border-radius: 10px;

}
.segundo-contenido{
    width: 35%;
    height: 40%;
    margin: auto;
    display: flex;
    gap:20px;
    align-content:center;
    justify-content:center;
}

.segundo-contenido div{
    width: 40%;
    height: 70%;
    background-color: #D9D9D9;
    border-radius: 10px;
    cursor:pointer;
}
.segundo-contenido div a{
    text-decoration:none;
    color:black;
}
.centrado{
    display: flex;
    align-items: center; 
    justify-content: center;
    font-weight:bold;
    text-decoration:none;
}
.contenido p{
    color: black;
    font-weight:bold;
    font-size: 19px;
    text-align: center;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#agregar{
    border-left: solid 5px #FFAD62;
}
#reporte, #orden_pro{
    display: flex;
  padding:auto;
  align-content:center;
  justify-content:center;
    border-left: solid 5px yellow;
}

#usuario, #orden_v{
    border-left: solid 5px palevioletred;
}

#actividad_usuario, #compra_v{
    border-left: solid 5px blue;
}

#editar_orden{
    border-left: solid 5px cornflowerblue;
}
#editar_compra, #compra_b{
    border-left: solid 5px green;
}
.contenido-s{
    margin-top: 5%;
}
.cerrar{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
    border-radius: 10px;
    background-color: #F3F3F3;
    color: black;
    cursor:pointer;
  font-weight:bold;
}
/* Estilo para el espacio de búsqueda */
.button {
    padding: 5px 16px; /* Reducir el padding vertical */
    border: none;
    border-radius: 5px;
    background-color: #3498db; /* Azul suave */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #5dbcd2; /* Un tono más claro de azul */
}
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
